[Install]
WantedBy=multi-user.target

[Unit]
Description=zipxs
After=network.service

[Service]
Type=simple
User=tvt
Group=root
Restart=always
RestartSec=90
StartLimitInterval=400
StartLimitBurst=3
WorkingDirectory=/usr/bin/zipx/zj-guard
ExecStart=/usr/bin/zipx/zj-guard/python3_main_py
PrivateTmp=true

[Install]
WantedBy=multi-user.target
